<table>
  <thead>
    <tr>
      <th>
        #
      </th>
      <th>
      </th>
      <th>
        name
      </th>
      <th>
        CP
      </th>
      <th>
        # Candies
      </th>
      <th>
        Pokedex
      </th>
      <th>
        ACTIONS
      </th>
    </tr>
  </thead>
  <tbody>

    <% pokemons.each do |pokemon| %>
      <tr data-pokemon-id="<%= pokemon.id %>">
        <td>
          <%= pokemon.pokedex_id %>
        </td>
        <td>
          <img src="<%= pokemon.image_path %>" alt="" />
        </td>
        <td>
          <%= pokemon.name %>
        </td>
        <td>
          <%= pokemon.cp %>
        </td>
        <td>
          <%= candies[pokemon.name.to_sym] %>
        </td>
        <td>
          <ul>
            <% pokedex[pokemon.name.to_sym].keys.each do |key|  %>
              <li>
                <%= key %>: <%= pokedex[pokemon.name.to_sym][key] %>
              </li>
            <% end %>
          </ul>
        </td>
        <td class="pokemon-release">
          RELEASE
        </td>
        <td class="pokemon-evolve">
          EVOLVE
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script type="text/javascript">
  var confirmAction = function (cell, action) {
    var pokemonId = cell.data('pokemon-id');

    cell.hide();

    if (action == 'evolve') {
      evolvePokemon(pokemonId)
        .done(function () {
          cell.remove();
        })
        .fail(function (response) {
          json = response['responseJSON']

          cell.children('td').last().html(json['result']);
          cell.show();
        });
    } else if (action == 'release') {
      releasePokemon(pokemonId)
        .done(function () {
          cell.remove();
        })
        .fail(function (response) {
          json = response['responseJSON']

          cell.children('td').last().html(json['result']);
          cell.show();
        });
    }
  };

  var releasePokemon = function (pokemonId) {
    return $.ajax({
      url: '/pokemons/'+ pokemonId +'/release'
    })
  };

  var evolvePokemon = function (pokemonId) {
    return $.ajax({
      url: '/pokemons/'+ pokemonId +'/evolve'
    })
  };

  $(document).ready(function() {
    $('table').on('click', '.pokemon-release', function () {
      $(this).html('<a href="#" class="pokemon-release-confirm">Confirm</a> / <a href="#" class="pokemon-release-cancel">CANCEL</a>');
    });

    $('table').on('click', '.pokemon-evolve', function () {
      $(this).html('<a href="#" class="pokemon-evolve-confirm">Confirm</a> / <a href="#" class="pokemon-evolve-cancel">CANCEL</a>');
    });

    $('table').on('click', '.pokemon-release-confirm', function () {
      var cell = $(this).closest('tr');

      confirmAction(cell, 'release');
    });

    $('table').on('click', '.pokemon-release-cancel', function (event) {
      event.preventDefault();

      $(this).parent('td').html('RELEASE');

      return false;
    });

    $('table').on('click', '.pokemon-evolve-confirm', function () {
      var cell = $(this).closest('tr');

      confirmAction(cell, 'evolve');
    });

    $('table').on('click', '.pokemon-evolve-cancel', function (event) {
      event.preventDefault();

      $(this).parent('td').html('EVOLVE');

      return false;
    });
  });
</script>
